body {
  text-align: center;
}

#title {
  font-size: 10vw;

  hr {
    border: none;
    border-bottom: 1px solid #333;
    width: 80%;
    margin: auto;
  }
}

#text {
  font-size: 3vw;
}

#eq_box {
  margin-top: 8vw;
  margin-bottom: 8vw;

    #eq {
    font-size: 3.5vw;
    margin-top: 1vw;
  }
}

#now {
  margin-top: 8vw;
  margin-bottom: 8vw;

  #price {
    margin-top: -5vw;

    #value {
      font-size: 20vw;
    }
  
    #yen {
      font-size: 5vw;
    }
  }
}

#reload {
  font-size: 3vw;
}